
* { box-sizing:border-box; }
body { margin:0; padding:0; }
.layout { position:relative; width:100%; min-height:100vh; }
.modal-background { position:fixed; top:0; right:0; bottom:0; left:0; background-color:rgba(0, 0, 0, 0.2); display:flex; }
.modal-box { margin:auto; background-color:#fff;  padding:1em; position:relative; }
.modal-header { display:inline-block; padding-right: 2em; }
.modal-close-button { position:absolute; top:1em; right:1em;  }

textarea { width:100%; height: 8em;  border:0; }
#songbook { display:flex; flex-direction:column; min-height:100%; min-width:100%;  }
#menu-button { position:absolute; top:0; right:0; padding:1em; }
#background { min-width:100%; flex-grow:1; background-color:#999; display:flex; }
#page { z-index:1; margin:auto; position:relative; width:210mm; height:297mm; background-color:#fff; box-shadow:10px 10px 10px rgba(0, 0, 0, 0.8); }
#frame-container { width:100%; min-height:100%; display:flex; }
#frame-limits { margin:auto; width:170mm; height:257mm; position:relative; }
#image { z-index:-2; position:absolute; top:0; right:0; bottom:0; left:0; display:flex; }
#image img { height:auto; }
#content { z-index:3; position:absolute; top:0; right:-10mm; bottom:0; left:0; }

.grid { display:flex; }
.card { width:49.5%; margin-left:auto; margin-right:auto; }

#content * { font-family:'Times New Roman', Times, serif; line-height:100%; }

em, .up { font-weight:inherit; text-decoration:none; text-transform:none; }
h1 { font-size:45px; }
p { font-size: 16px; }
.strophe { font-size:27px; line-height:32px; }
.up { display:inline-block; position:relative; }
.up > span { position:absolute; left:0; bottom:16px; }

.violeta .color { color:#80c; }
.azul .color { color:#00f; }
.ciano .color { color:#0cf; }
.verde .color { color:#0c0; }
.ocre .color { color:#aa0; }
.laranja .color { color:#f80; }
.vermelho .color { color:#c00; }
.magenta .cor { color:#f0f; }
.cinza .c